.well.clearfix
  %h4
    Message from
    - if @message.sender.nil?
      = @message.sender
    - else
      a Masher
  
  = @message.content.camelcase

  %br
  .pull-right
    = link_to "Back", :back