@import "bootstrap";

body {
	padding: {
		top: 40px;
	}
}

.navbar {
	.brand {
		padding: 2px 15px;
	}
}

.modal {
	form {
		margin: 0;
	}
}

.linkUnfocus {
	a:focus {
		outline: none;
	}
}

:focus {
	outline: none;
}